.link-unstyled {
  color: whitesmoke;
  text-decoration: none;
}

body {
  background: #191765;
  font-family: Roboto;
  font-style: normal;
  color: whitesmoke;
}

.name-header {
  font-size: 24px;
  font-weight: 600;  
  line-height: 20px;
  letter-spacing: 0.5em;  
}

header {
  background: #191765;
  font-size: 22px;  
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: center;  
}

.main-pic {
  margin-top: 100px;
}

h1 { 
  font-size: 37px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: 0.3700000047683716px;
  color: #9390FF
}

h3 {  
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
}

.intro {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

li {
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.bluet {
  color: #9390FF
}

.work {
  font-size: 20px;
}
h2 {
   
  font-size: 37px;
  font-weight: 500;
  line-height: 72px;
  letter-spacing: 0.2700000047683716px;
  color: #9390FF
}

.languages {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.email {
  color: #9390FF;
  font-size: 22px;  
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2em;
  text-align: center;
}

.project {
  margin-top: 50px;
}

.arial {
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-stretch: narrower;
color: #191765;
}

 .bio-pic {  
  margin-left: 30px;
  margin-right: 30px;
} 

.bio-txt {
  line-height: 20px;
}

.blub {
  background: #191765;
}

.lite-blub {
  background: #9390FF
}

@media (min-width: 768px) {
  .main-pic {
    width: 70%;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
  }
  
  
}

@media (min-width: 1024px) {
  
  .headline {
    font-size: 90px;
    font-weight: 700;
    line-height: 105px;
    letter-spacing: 0em;
    text-align: center;
    color: #9390FF;

  }

  .main-pic {
    width: 70%;
    margin-top: 200px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .intro {
    width: 70%;    
  }

  li {
    font-size: 20px;
    padding: 15px;
  }

  .project {
    margin-top: 100px;
  }
}
